# Python install dependencies for Data Science Stack image
#
# https://github.com/jupyter/docker-stacks/blob/master/base-notebook/Dockerfile
# https://github.com/jupyter/docker-stacks/blob/master/minimal-notebook/Dockerfile
# https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile

beautifulsoup4==4.7.1
cloudpickle==1.2.1
Cython==0.29.12
dill==0.3.0
ipywidgets==7.5.0
patsy==0.5.1
protobuf==3.8.0
SQLAlchemy==1.3.5
vincent==0.4.4
xlrd==1.2.0
# TODO: fastparquet
# TODO: pyarrow
# bayesian-optimization

# With Alpine "testing" only
#h5py==2.8.0
#hdf5pickle==0.3
#hdf5storage==0.1.15
#hdf5widget==0.1.0

numpy==1.15.2
sympy==1.4
pandas==0.24.2
notebook==6.1.5
matplotlib==3.1.1

# need NumPy installed
scipy==1.3.0
numexpr==2.6.9
##statsmodels==0.10.0  has lots of Cython compile errors
scikit-image==0.15.0
scikit-learn==0.21.2
seaborn==0.9.0
bokeh==1.2.0
altair==3.1.0
##pycuda==2019.1 (no Alpine package for CUDA dev files)

# This cannot be upgraded for Alpine 3.8 (fits to LLVM 5.x)
llvmlite==0.29.0
numba==0.44.1
